/*Pagina home*/

.titulonome{
    text-align: center;
    margin: 15px 30px ;
    padding: 15px 15px;
}

.titulofotografia{
    text-align: left;
    margin: 15px 30px ;
    padding: 15px 15px;
    padding-left: 50px;
}

.pagina-de-fundo-home{
    margin: 0px 150px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

}

.foto-e-texto{
    display: flex;
    text-align: left;
    padding: 25px 150px;
    justify-content: center;
    overflow-x: hidden;
    
}

.textodafoto{
    width: 500px;
    margin: 15px; 
    font-size: 17px;
    text-align: justify; 
    text-indent:1em;
}

.fotovini{
    border: 2px solid black; 
    border-radius: 5%;
}

@media only screen and (max-width: 600px) {
    .titulonome{
        text-align: center;
        margin: 15px 10px ;
        padding-top: 10px;
    }

    .pagina-de-fundo-home{
        margin: 18px;
    }

    .foto-e-texto {
        flex-direction: column;
        padding: 25px;
        align-items: center;
    }

    .textodafoto {
        width: 100%;
        margin: 15px 0; 
    }

    .fotovini {
        margin-top: 15px;
    }
}