*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", sans-serif;
}

#menu-h ul {
    list-style-type: none;
    padding: 0;
    background-color: #3a3a3a;
    text-align: right;
  
}

#menu-h ul li {
    display: inline;
    
}

#menu-h ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .4s;
    
}

#menu-h ul li a:hover{
    background-color: rgb(24, 139, 233);
}

.modo-claro-escuro {
    float: right;
    padding: 12px;
}

button {
    background-color: #d6d6d6;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

body.dark-mode {
    background-color: #282828;
    color: white;
}

body.dark-mode button {
    background-color: #282828;
    color: white;
}

.rodape {
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 15px;
    text-align: center;
} 


.titulonome{
    text-align: center;
    margin: 15px 30px ;
    padding: 15px 15px;
}

.titulofotografia{
    text-align: left;
    margin: 15px 30px ;
    padding: 15px 15px;
    padding-left: 50px;
}

.fotoetexto{
    display: flex;
    text-align: left;
    padding: 25px 150px;
    justify-content: center;
    overflow-x: hidden;
    
}

.textodafoto{
    width: 500px;
    margin: 15px; 
    text-indent:1em
}

.fotovini{
    border: 2px solid black; 
    border-radius: 5%;
}

/*Pagina de fotografia*/

.fotologoinsta {
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotologo {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #100;
}

.fotologoinsta h1 {
    margin-left: 50px; /* Em vez de padding-left, use margin-left para espaçamento entre a logo e o título */
    font-size: 50px;
}

.fotocopotexto{
    width: 100%;
    padding: 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotocopotexto p {
    width: 350px;
    margin-right: 50px;
    font-size: 20px;
}

.fotocopo {
    border-radius: 5%;
    height: 405px;
}

.textonikon{
    width: 100%;
    padding: 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textonikon p {
    width: 600px;
    font-size: 20px;
}

.fotostiradapelanikon{
    width: 100%;
    padding: 20px 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: #3a3a3a;
}

.fotostiradapelanikon img{
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
    border-radius: 5%;
}

.canont6{
    width: 100%;
    margin: 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.canont6 p {
    width: 600px;
    font-size: 20px;

}